.container {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 10px;
    height: 600px;
    background-color: white;
}

.header,.nav,.content,.side-bar,.footer {
    background-color: yellow;
    padding: 10px;
    font-weight: 600;
    font-size: 30px;
}

.header {
    grid-column-start: 1;
    grid-column-end: 5;
    text-align: center;
    height: 50px;
    padding: 50px;
    background-color: blue;
}

.footer {
    grid-column-start: 1;
    text-align: center;
    grid-column-end: 5;
    padding: 50px;
    background-color: blue;
    height: 50px;
}

.content {
    grid-column-start: 2;
    grid-column-end: 4;
    text-align: center;
    background-color: gray;
    height: 200px;
    padding: 50px;
}

.side-bar,
.nav {
    height: 50px;
    padding: 50px;
    height: 200px;
    text-align: center;
    background-color: lightskyblue;
}